<section class="row">
  <article class="column">

    <h3> List of Products:  </h3>
    <%= for  item <- @items do %>
      <li>
        <strong> <%=  item.title %></strong>: <%= item.description %>
      </li>
    <% end %>
  </article>
</section>
