<section class="row">
  <article class="column">
    <% for  item <- @items do %>
      <li>
        <strong> <%=  item.title %></strong>: <%= item.description %>
      </li>
    <% end %>
  </article>
</section>
